<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.themeleaf.org" >
<head>
  <meta charset="utf-8">
  <title>BlueFood</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <link rel="stylesheet" type="text/css" th:href="@{/css/bf_estiloSistema.css}">
  <script type="text/javascript" th:src="@{/js/Script.js}"></script>
  <meta name="theme-color" content="#fafafa">
</head>
<body>
  <!-- Inicio do Cabeçalho -->
  <header>
    <div id="divLogoSistema">
      <span id="auxAlinhamentoVertical"></span>
      <a th:href="@{/}">
        <img th:src="@{/img/bf_logotipoSistema.png}" id="imgLogoSistema">
      </a>
    </div>
  </header>
  <br/><br/>
  <!-- Fim do Cabeçalho -->
  <!-- Conteúdo -->
  <div layout:fragment="content"></div>
  <!-- Inicio do Rodapé -->
  <br/><br/>
</body>
</html>
